/****************************** RESET *****************************/
*{                  /* étoile pour la totalité des commandes */ 
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}



/******************************* MAIN *****************************/

aside{
    min-height: calc(100vh - 78px - 42px);
}

/****************************** FOOTER ****************************/
footer{
    font-size: 0.75em;
}
