{% extends 'baseAdmin.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
<h1 class="text-center">Bienvenue sur l'espace administrateur de mon Portfolio</h1>
{% endblock %}
