{% extends 'baseAdmin.html.twig' %}

{% block title %}réalisation - formulaire{% endblock %}

{% block body %}

    <h1 class="mb-5">Formulaire réalisation</h1>

    {# formulaire réalisation #}

{% endblock %}